@import "./function.scss";
@import "./var";

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

ul,
li {
	list-style: none;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 100vh;
	background: $bgGray;
}

.myContainer {
	max-width: 340px;
	width: 100%;
	margin: 0 auto;

	.wrapper {
		background: $bgWhite;
		padding: 30px;
		border-radius: 8px;
		max-height: 593px;
		overflow: scroll;

		&__header {
			display: flex;
			align-items: center;
			gap: 20px;
			img {
				width: 32px;
				height: auto;
			}
			.header__title {
				font-size: 20px;
				font-weight: 600;
				line-height: 24px;
				color: $colorDark;
			}
		}
		.listCoins{
			padding: 0;

			.coins {
				padding: 18px 0px;
				margin: 0;
				border-bottom: 1px dashed rgba(44, 56, 79, 0.3);
				display: flex;
				justify-content: space-between;
	
				&__img {
					width: 40px;
					height: 40px;
					border-radius: 5px;
				}
				&__name {
					width: 152px;
					height: 40px;
	
					p {
						font-style: normal;
						font-weight: 500;
						font-size: 16px;
						line-height: 19px;
						color: $colorDark;
						margin: 0;
					}
					span {
						font-weight: 400;
						font-size: 12px;
						line-height: 15px;
						color: $colorGray;
					}
				}
				&__price {
					width: 60px;
					height: 40px;
					text-align: end;
					font-weight: 500;
					font-size: 12px;
					line-height: 15px;
					color: $colorDark;
				}
			}
		}
		
	}
}
